<div class="faq-content">
  <div class="row flex-items-md-center">
    <div class="col-sm-12 text-center">
      <h2>Frequently Asked Questions</h2>
    </div>
  </div>
  <div class="row flex-items-md-center">
    <div class="col col-md-8">

      <clr-tree-node>
        When/Where is the Frontiers in Flight Airshow Happening?
        <ng-template clrIfExpanded>
          <clr-tree-node>
            Frontiers in Flight Airshow is happening at McConnell AFB. It starts on September 7th for 
            card holders, and September 8th and 9th for the general public. Gates open at 10:00AM 
            and close at 4:30PM.
          </clr-tree-node>
        </ng-template>
      </clr-tree-node>

      <clr-tree-node>
        What should I bring?
        <ng-template clrIfExpanded>
          <clr-tree-node>
            Safety Stuff/Suggested Items
          </clr-tree-node>
        </ng-template>
      </clr-tree-node>

      <clr-tree-node>
          Who will be there?
          <ng-template clrIfExpanded>
            <clr-tree-node>
                <p>A growing list of perfomers is on the performer
                <a href="performers">page</a>.
                Unfortunately, the sequence is not solidified until the morning of the
                Air Show to allow for security, safety, weather and operational concerns.</p>
            </clr-tree-node>
          </ng-template>
        </clr-tree-node>

        <clr-tree-node>
            Why should I go?
            <ng-template clrIfExpanded>
              <clr-tree-node>
                Factoids about first open house/unique oppertunity/ possibly costs
              </clr-tree-node>
           </ng-template>
         </clr-tree-node>
      
    </div>
  </div>
</div>
<app-footer></app-footer>