<div class="faq-content">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2>Frequently Asked Questions</h2>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-8 offset-md-2">

      <clr-tree-node>
        When/Where is the Frontiers in Flight Airshow Happening?
        <ng-template clrIfExpanded>
          <clr-tree-node>
            Schedule Stuff
          </clr-tree-node>
        </ng-template>
      </clr-tree-node>

      <clr-tree-node>
        What should I bring?
        <ng-template clrIfExpanded>
          <clr-tree-node>
            Safety Stuff/Suggested Items
          </clr-tree-node>
        </ng-template>
      </clr-tree-node>

      <clr-tree-node>
          Who will be there?
          <ng-template clrIfExpanded>
            <clr-tree-node>
              Brief sponsor and preformer info w/ links
            </clr-tree-node>
          </ng-template>
        </clr-tree-node>

        <clr-tree-node>
            Why should I go?
            <ng-template clrIfExpanded>
              <clr-tree-node>
                Factoids about first open house/unique oppertunity/ possibly costs
              </clr-tree-node>
           </ng-template>
         </clr-tree-node>
      
    </div>
  </div>
</div>
<app-footer></app-footer>