<div class="footer-content">
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <div class="contact">
        <p>Contact Us<br/><br/><i>An email address for base or autmated contact</i></p>
      </div>
    </div>

    
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <div class="handle">
        <p>Social Media Handle<br/><br/><i>Icons for social media</i></p>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <div class="credit">
          <p>Created by XPX<br/><br/><i>xpx logo</i></p>
      </div>
    </div>
  </div>
</div>


  