<div class="footer-content">
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a href="connect"> 
          <div class="contact">
           <p>Contact Us</p>
          </div>
      </a>
    </div>

    
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <div class="handle">
        <span class="icon">
          <img src = "../../assets/icons/fb_icon.png" height="32" width="32">
        </span>
        <span class="icon">
          <img src = "../../assets/icons/twitter_icon.png" height="32" width="32">
        </span>
        <span class="icon">
          <img src = "../../assets/icons/git_icon.png" height="32" width="32">
        </span>
        <span class="icon">
          <img src = "../../assets/icons/tumblr_icon.png" height="32" width="32">
        </span>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <div class="credit">
          <p>Created by XPX</p>
          <span class="iconXPX"></span>
      </div>
    </div>
  </div>
</div>


  