.footer-content{
    background-color: #002538;
    margin-left: -1rem;
    margin-right:-1rem;
    margin-bottom: -2rem;
    padding-top: 20px;
    padding-bottom: 15px;
}
.contact{
    align-content: center;
    align-self: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;

}
.handle{
    align-content: center;
    align-self: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}
.credit{
    align-content: center;
    align-self: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;

}
.icon{
    padding-left: 1rem;
}
p{
    margin: 0;
    padding: 0;
    color: #F2F7FA;
}


