<div class="preformers-content">
<div class="row">
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <h1>Thunder Birds</h1>
        <p>Main Event Info</p>
    </div>
<div class ="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <h2>Also Preforming</h2>
    <app-redline></app-redline>
    <app-brian-correll></app-brian-correll>
    <app-scott-francis></app-scott-francis>
    <app-tora3></app-tora3>
    <app-vampire-air></app-vampire-air>
    <app-smoke-and-thunder></app-smoke-and-thunder>
    <app-kent-piesch-air></app-kent-piesch-air>
    <app-fighter-jet-inc></app-fighter-jet-inc>
    <app-doc></app-doc>
    <app-dan-buchannan></app-dan-buchannan>  
    <app-ace-maker-air></app-ace-maker-air>
</div>
</div>
<app-footer></app-footer>