<clr-header class="header-6">
    <div class="branding">
        <a routerLink="" class="nav-link">
            <img class="logo-img" src="assets/images/airshow_logo.png">
            <span class="title">Frontiers In Flight</span>
        </a>
    </div>
        <div class="header-nav" [clr-nav-level]="2">
            <a routerLink="performers" class="nav-link nav-text" routerLinkActive="active">The Performers</a>
            <a routerLink="schedule" class="nav-link nav-text" routerLinkActive="active">Schedule</a>
            <a routerLink="maps" class="nav-link nav-text" routerLinkActive="active">Maps</a>
            <a routerLink="faq" class="nav-link nav-text" routerLinkActive="active">FAQ's</a>
           <!-- <a routerLink="gallery" class="nav-link nav-text" routerLinkActive="active">Gallery</a> -->
           <!-- <a routerLink="sponsors" class="nav-link nav-text" routerLinkActive="active">Sponsors</a> -->
           <!--<a routerLink="connect" class="nav-link nav-text" routerLinkActive="active">Get In Touch</a> -->
        </div>

    <!-- <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div> -->
</clr-header>