<header class="header-6">
    <div class="branding">
        <a href="#">
        	<img class="logo-img" src="assets/images/airshow_logo.png">
        </a>
        <span class="title">Frontiers In Flight</span>
    </div>
    <div class="header-nav">
        <a href="javascript://" class="active nav-link nav-text">The Planes</a>
        <a href="/faq" class="nav-link nav-text">FAQ's</a>
        <a href="javascript://" class="nav-link nav-text">Gallery</a>
        <a href="javascript://" class="nav-link nav-text">Sponsors</a>
        <a href="javascript://" class="nav-link nav-text">Get In Touch</a>
    </div>
    <!-- <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div> -->
</header>
