<div class="row" id="cards">
  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <a routerLink="performers" class="card clickable">
          <div class="card-img">
              <img src="../../../assets/images/card1_image.jpg">
          </div>
          <div class="card-block">
            <div class="card-title">Check out the Performers</div>
              <p class="card-text">
                    Witness amazing and death-defying acts from some of
                    the nation's top aviation performers, including the
                    Air Force's elite flying squadron, the USAF Thunderbirds. 
              </p>

          </div>
          <div class="card-footer">
            <button class="btn btn-sm btn-link">Learn More</button>
          </div>
      </a>
  </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a routerLink="schedule" class="card clickable">
            <div class="card-img">
                <img src="../../../assets/images/card2_image.jpg">
            </div>
            <div class="card-block">
              <div class="card-title">Schedule and Events</div>
                <p class="card-text">
                    Come join us on September 8th through the 9th for a
                    spectacular celebration of McConnell. The event is free,
                    and open to the public.
                </p>
            </div>
            <div class="card-footer">
              <button class="btn btn-sm btn-link">Learn More</button>
            </div>
        </a>
    </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <a routerLink="maps" class="card clickable">
              <div class="card-img">
                <img src="../../../assets/images/card3_image.jpg">
              </div>
              <div class="card-block">
                <div class="card-title">Maps and Directions</div>
                  <p class="card-text">
                    McConnell Air Force Base is located just off Rock Rd
                    at 53147 Kansas Street, KS 67221, with plenty of Shuttles
                    and Parking available on and off site.
                  </p>
    
              </div>
              <div class="card-footer">
                <button class="btn btn-sm btn-link">Learn More</button>
              </div>
          </a>
      </div>
</div>
