.hero-content{    
    position: relative;
	margin-top: 0;
    min-height: 70vh;
    width: 100%;
}
.hero-content #bgimg{
    background-image: url("\..\..\..\assets\images\fifheritage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 110%;
    min-height: 80vh;
    z-index: 1;
    margin-left: -30px;
    margin-right: -150px;
    margin-top: -30px;
    background-position-y: 45%;
}
.hero-content .hero-logo{    
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    min-height: 70hv;
    width: 100%;
    z-index: 2;
}

.hero-content .hero-logo img{    
    padding-left: 60px;
    padding-top: 15px;
}

.hero-content h2{
    position: relative;
    vertical-align: bottom;
    align-content: center;
    text-align: center;
    color: #002538;
    font-weight: bold;
    z-index: 3;
}
.hero-content .hero-logo h3{    
    margin-top: 0;
    margin-bottom: 0;
}

