.hero-content{    
    position: relative;
	margin-top: 0;
    min-height: 600px;
    width: 100%;
}
.hero-content #bgimg{
    background-image: url("\..\..\..\assets\images\fifheritage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 110%;
    min-height: 680px;
    z-index: 1;
    margin-left: -30px;
    margin-right: -150px;
    margin-top: -30px;
    background-position-y: 70%;
}
.hero-content .hero-cta{    
    position: relative;
    margin-top: 0;
    min-height: 600px;
    width: 100%;
    z-index: 2;
}

.hero-content .hero-cta img{    
    padding: 60px;
}

.hero-content .hero-cta h1{    
    margin-top: 0;
}

