<form class="compact">
    <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12 col-xs-12">
        <section class="form-block">
          <label>Contact Us</label>
          <div class="form-group">
              <label for="aForm_0">Name</label>
              <input type="text" id="aForm_0" placeholder="John Doe" size ="45">
            </div>
          <div class= "form-group">
            <label for="aForm_1">Email</label>
            <input type="text" id="aForm_1" placeholder="John.Doe@email.com" size ="45">
          </div>
          <div class="form-group">
            <label for="aForm_2">Subject</label>
            <input type="text" id="aForm_2" placeholder="Subject" size ="45">
          </div>
          <div class="form-group">
            <label for="aForm_3">Topic</label>
             <div class="select">
               <select id="aForm_3">
                 <option>Questions</option>
                 <option>Complaints</option>
                 <option>Sponsorship</option>
               </select>
             </div>
          </div>
          <div class ="form-group">
            <label for="aForm_4"></label>
            <textarea id="aForm_4" rows="5"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </section>
      </div>
</form>