<div class="row">
  <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-center">
      <h2>A city rich in aviation history welcomes the next generation 
          of air and spacecraft - It's time to meet the next Frontiers in Flight</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-4 offset-lg-1 text-center">
      <img src="../../../assets/images/Keeper-of-the-Plains.jpg" class="img-fluid rounded">
  </div>
  <div class="col-md-8 col-lg-6">
      <p>From its earliest days, Kansas has been known for it's
          frontier towns and beautiful waving plains.  The city of 
          Wichita became known for cattle drives and trading outposts
          along the Chisholm Trail, eventually earning the moniker
          of "Cowtown." But, by the early 20th century, the forefathers
          of aviation saw another future for this thriving frontier city.</p>

    <p>Starting in the 1920s and 30s, businessmen and aeronautical
          engineers began moving aircraft manufacturing companies to
          the city of Wichita.  The city was soon booming with the
          world's top aviation companies, and the "Air Capital of 
          the World" was born.</p>
         
    <p>Wichita remains a thriving hub in the world of aviation,
          and this former frontier city is now on the frontier of
          defense technology.  Come to the Frontiers in Flight Air
          Show and see the KC-46 Pegasus, McConnell Air Force Base's
          new addition to its fleet of refueling aircraft. Then, witness aviation
          acts from around the world, including the Air Force's most
          elite flyers, the USAF Thunderbirds.</p>

    <p> From frontier days to aviation beginnings, to cutting-edge refuelers and the Air Force's
          continued research into space technology, the citizens of Wichita
          are truly a part of the Frontiers in Flight.</p>
  </div>
</div>