<div class="timeline-container">
  <header>
      <div class="history">
        <h1>history of McConnell Air Force Base</h1>
      </div>
  </header>
  <section class="cd-timeline js-cd-timeline">
    <div class="cd-timeline__container">
      <div class="cd-timeline__block js-cd-block">
        <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
          <img src="../../../assets/images/fiflogo.png" alt="Picture">
        </div>

        <div class="cd-timeline__content js-cd-content">
          <h2>Title of section 1</h2>
          <p>Lorem ipsum dolor sit amet,</p>
          <a href="#0" class="cd-timeline__read-more">Read More</a>
          <span class="cd-timeline__date">Jan 14</span>
        </div>
      </div>

      <div class="cd-timeline__block js-cd-block">
        <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
          <img src="../../../assets/images/fiflogo.png" alt="Picture">
        </div>
        <div class="cd-timeline__content js-cd-content">
            <h2>Title of section 2</h2>
            <p>Lorem ipsum dolor sit amet,</p>
            <a href="#1" class="cd-timeline__read-more">Read More</a>
            <span class="cd-timeline__date">Jan 14</span>
        </div>
      </div>

      <div class="cd-timeline__block js-cd-block">
          <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
            <img src="../../../assets/images/fiflogo.png" alt="Picture">
          </div>
          <div class="cd-timeline__content js-cd-content">
              <h2>Title of section 3</h2>
              <p>Lorem ipsum dolor sit amet,</p>
              <a href="#2" class="cd-timeline__read-more">Read More</a>
              <span class="cd-timeline__date">Jan 14</span>
          </div>
        </div>

      <div class="cd-timeline__block js-cd-block">
        <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
          <img src="../../../assets/images/fiflogo.png" alt="Picture">
        </div>
        <div class="cd-timeline__content js-cd-content">
          <h2>Title of section 4</h2>
          <p>Lorem ipsum dolor sit amet,</p>
          <a href="#4" class="cd-timeline__read-more">Read More</a>
          <span class="cd-timeline__date">Jan 14</span>
        </div>
      </div>

      <div class="cd-timeline__block js-cd-block">
          <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
            <img src="../../../assets/images/fiflogo.png" alt="Picture">
          </div>
          <div class="cd-timeline__content js-cd-content">
            <h2>Title of section 5</h2>
            <p>Lorem ipsum dolor sit amet,</p>
            <a href="#4" class="cd-timeline__read-more">Read More</a>
            <span class="cd-timeline__date">Jan 14</span>
          </div>
        </div>

        <div class="cd-timeline__block js-cd-block">
            <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
              <img src="../../../assets/images/fiflogo.png" alt="Picture">
            </div>
            <div class="cd-timeline__content js-cd-content">
              <h2>Title of section 6</h2>
              <p>Lorem ipsum dolor sit amet,</p>
              <a href="#5" class="cd-timeline__read-more">Read More</a>
              <span class="cd-timeline__date">Jan 14</span>
            </div>
          </div>
          <div class="cd-timeline__block js-cd-block">
              <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
                <img src="../../../assets/images/fiflogo.png" alt="Picture">
              </div>
              <div class="cd-timeline__content js-cd-content">
                <h2>Title of section 7</h2>
                <p>Lorem ipsum dolor sit amet,</p>
                <a href="#6" class="cd-timeline__read-more">Read More</a>
                <span class="cd-timeline__date">Jan 14</span>
              </div>
            </div>  
    </div>
  </section>
  <script src="timeline.component.ts"></script>
</div>
