<div class="row">
  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <a href="..." class="card clickable">
          <div class="card-img">
              <img src="../../assets/images/card1_image.jpg">
          </div>
          <div class="card-block">
            <div class="card-title">Premium Seating Experience</div>
              <p class="card-text">
                   You're at the edge of the action when you choose our
                   premium seating experience!  Watch the performers in
                   comfort while enjoying unobstructed views.
              </p>

          </div>
          <div class="card-footer">
            <button class="btn btn-sm btn-link">Learn More</button>
          </div>
      </a>
  </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a href="..." class="card clickable">
            <div class="card-img">
                <img src="../../assets/images/card2_image.jpg">
            </div>
            <div class="card-block">
              <div class="card-title">Check out the Performers</div>
                <p class="card-text">
                     Witness amazing and death-defying acts from some of
                     the nation's top aviation performers, including the
                     Air Force's elite flying squadron, the USAF Thunderbirds. 
                </p>
            </div>
            <div class="card-footer">
              <button class="btn btn-sm btn-link">Learn More</button>
            </div>
        </a>
    </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <a href="..." class="card clickable">
              <div class="card-img">
                <img src="../../assets/images/card3_image.jpg">
              </div>
              <div class="card-block">
                <div class="card-title">Sponsorship Opportunities</div>
                  <p class="card-text">
                       Get your business's name out in front of the public
                       by sponsoring Frontiers in Flight!  We have sponsorship
                       opportunities tailored to fit your goals and budget.
                  </p>
    
              </div>
              <div class="card-footer">
                <button class="btn btn-sm btn-link">Learn More</button>
              </div>
          </a>
      </div>
</div>
