<div class="guestinfo-content">
  <clr-tabs class="guest-tabs">
    <clr-tab class="tab1">
      <button clrTabLink id="link1">What to Bring</button>
      <clr-tab-content id="content1" *clrIfActive>
        Guest Info Content
      </clr-tab-content>
    </clr-tab>
    <clr-tab class="tab2">
    <button clrTabLink id="link2">Prohibited Items</button>
    <clr-tab-content id="content2" *clrIfActive>
        Guest Info Content
      </clr-tab-content>
    </clr-tab>
    <clr-tab class="tab3">
    <button clrTabLink id="link3">Parking/Transportation</button>
    <clr-tab-content id="content3" *clrIfActive>
        Guest Info Content
      </clr-tab-content>
    </clr-tab>
  </clr-tabs>
</div>
