<div class="performers-content">
<div class="row">
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <h1>Thunder Birds</h1>
       
        <p>Main Event Info</p>
        <p>
            Since the team’s inception, 325 officers have worn the distinguished emblem of “America’s Ambassadors in Blue.”
            Through selfless dedication, a desire to excel and a constant commitment to improvement, these leaders have
            channeled their efforts into making the Thunderbirds what they are today. <a href="...">Learn More.</a>
        </p>
        <h2>Golden Knights</h2>
        <p>
            The Golden Knights are one of only three Department of Defense-sanctioned aerial demonstration teams, along with the
            U.S Navy Blue Angels, and the U.S. Air Force Thunderbirds. The team is composed of approximately 95 men and women, which
            includes four parachute units, an aviation unit and a headquarters. The demonstration teams, which use five dedicated aircraft,
            perform more than 100 events per year. <a href="...">Learn More.</a>
        </p>
        <p>    
            The Thunderbirds will be headlining the event followed by various Military and Civilian performers. The list is 
            continueously growing, so check in for updates.
        </p>
        <p>
            In addition to aerial performances, ground displays will be open to the public for touring and photo opertunities.
        </p>
        <h3>Schedule</h3>
        <p>Unfortunately, the sequence is not solidified until the morning of the Air Show to allow for security, safety,
           weather and operational concerns.</p>
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <h4>September 7th; Card Holders Only</h4>
                <ul style="list-style-type:none">
                    <li>Gates Open at 10:00AM CST</li>
                    <li>Gates Closed at 4:30PM CST</li>
                </ul>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <h4>September 8th; Open House</h4>
                <ul style="list-style-type:none">
                    <li>Gates Open at 10:00AM CST</li>
                    <li>Gates Closed at 4:30PM CST</li>
                </ul>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <h4>September 9th; Open House</h4>
                    <ul style="list-style-type:none">
                        <li>Gates Open at 10:00AM CST</li>
                        <li>Gates Closed at 4:30PM CST</li>
                    </ul>
        </div>
    </div>
    </div>
    <div class ="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <h2>Also Performing</h2>
            <app-redline></app-redline>
            <app-brian-correll></app-brian-correll>
            <app-scott-francis></app-scott-francis>
            <app-tora3></app-tora3>
            <app-vampire-air></app-vampire-air>
            <app-smoke-and-thunder></app-smoke-and-thunder>
            <app-kent-piesch-air></app-kent-piesch-air>
            <app-fighter-jet-inc></app-fighter-jet-inc>
            <app-doc></app-doc>
            <app-dan-buchannan></app-dan-buchannan>  
            <app-ace-maker-air></app-ace-maker-air>
            <app-c17demo></app-c17demo>
            <app-b1-flyby></app-b1-flyby>
            <app-goldenknights></app-goldenknights>
    </div>
</div>
<app-footer></app-footer>